html
  head
    title= title
    include ../main/header_generic.pug

  body(id="page-top")
    div(id="wrapper")
      include leftbar.pug
      div(class="container-fluid")
        include topbar.pug
        div(class="container")
                
                div(class="row justify-content-center")
                    if message != ""
                    div(class="text-center col-lg-8 col-md-10 col-xs-12 alert alert-" + message.type role="alert")= message.content
                    div(class="text-center col-lg-8 col-md-10 col-xs-12")
                        h1(class="h4 text-gray-900 mb-4") Account
                        form(action="/account" method="POST" class="user")
                            if update == "yes"  
                                div(class="form-group row")
                                    input(type="text" class="form-control form-control-user text-center" id="firstname" name="firstname" value= user.firstname )
                                div(class="form-group row")   
                                    input(type="text" class="form-control form-control-user text-center" id="lastname" name="lastname" value= user.lastname)
                                div(class="form-group row")
                                    input(type="email" class="form-control form-control-user text-center" id="email" name="email" value= user.email disabled)
                                div(class="form-group row")
                                    button(type="submit" class="btn btn-primary btn-user btn-block") Save
                            else 
                                div(class="form-group row")
                                    input(type="text" class="form-control form-control-user text-center" id="firstname" name="firstname" placeholder= user.firstname disabled)
                                div(class="form-group row")   
                                    input(type="text" class="form-control form-control-user text-center" id="lastname" name="lastname" placeholder= user.lastname disabled)
                                div(class="form-group row")
                                    input(type="email" class="form-control form-control-user text-center" id="email" name="email" placeholder= user.email disabled)
                                div(class="form-group row")
                                    a(href="/account?update=yes" type="button" class="btn btn-primary btn-user btn-block") Update Account                  
    include script_js.pug
    include footer.pug