<!-- Footer -->
<footer class="page-footer font-small" style="background-color:#1c2331;color:rgb(255,255,255,0.6);">

  <!-- Footer Links -->
  <div class="container text-center text-md-left pt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">About me</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>I'm Jonathan web developer and crypto-enthusiast. I start Dapp Game in 2018 with 0xUniverse. Since I like explore Dapp Game World. I have decided since 2021 as a challenge to build a dashboard website from scratch from the exploitation and back-end to the front-end.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Marseille, FR</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> dapp-game-invest@outlook.com</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  div(class="footer-copyright text-center py-3" style="background-color:rgb(0,0,0,0.2)") 2020 Dapp Game Invest v0.01
  <!-- Copyright -->

</footer>
<!-- Footer -->