html
  head
    title= title
    include ../main/header_generic.pug

  body(id="page-top")
    div(id="wrapper")
      include leftbar.pug
      div(class="container-fluid")
        include topbar.pug
    include script_js.pug
    include footer.pug