html
  head
    title= title

    // Bootstrap core JavaScript
    script(src="http://localhost:8000/vendor/jquery/jquery.min.js")
    script(src="http://localhost:8000/vendor/bootstrap/js/bootstrap.bundle.min.js")

    // Core plugin JavaScript
    script(src="http://localhost:8000/vendor/jquery-easing/jquery.easing.min.js")
    
    script(src='http://localhost:8000/charts/chart.min.js')
    script(src='http://localhost:8000/charts/utils.js')
    script(src='http://localhost:8000/timeline/d3.v2.min.js')
    script(src='http://localhost:8000/timeline/timeknots-min.js')
    script(src="http://localhost:8000/template/sb-admin-2.min.js")
    link(rel='stylesheet', href='http://localhost:8000/template/sb-admin-2.min.css')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet', href='http://localhost:8000/vendor/fontawesome-free/css/all.min.css')

  body(id="page-top")
    div(id="wrapper")
      include leftbar.pug
      div(class="container-fluid")
        include topbar.pug
    include footer.pug