ul(class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion mr-2" id="accordionSidebar")

    // Sidebar - Brand 
    a(class="sidebar-brand d-flex align-items-center justify-content-center mb-1" href="/")
        div(class="sidebar-brand-icon w-75")
          img(src="/assets/site/logo.png" class="w-75")
        div(class="sidebar-brand-text") Dapp Game Invest

    // Divider
    hr(class="sidebar-divider my-0")

    // Divider
    hr(class="sidebar-divider")

    //Heading
    div(class="sidebar-heading") Dapp
    

    // Nav Item - Pages Collapse Menu 
    li(class="nav-item")
        a(class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
            i(class="fas fa-fw fa-award")
            span() Cryptodynasty
        div(id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar")
            div(class="bg-white py-2 collapse-inner rounded") 
                a(class="collapse-item" href="/cryptodynasty/") Presentation
                a(class="collapse-item" href="/cryptodynasty/holder") Holder

    // Divider
    hr(class="sidebar-divider d-none d-md-block mt-2")

    li(class="nav-item")
        a(class="nav-link" href="/faq")
            i(class="fas fa-fw fa-question")
            span() FAQ




    