// Bootstrap core JavaScript
script(src="/vendor/jquery/jquery.min.js")
script(src="/vendor/bootstrap/js/bootstrap.bundle.min.js")

// Core plugin JavaScript
script(src="/vendor/jquery-easing/jquery.easing.min.js")

script(src='/charts/chart.min.js')
script(src='/charts/utils.js')
script(src='/timeline/d3.v2.min.js')
script(src='/timeline/timeknots-min.js')

script(src='/vendor/script_chart.js')
script(src="/template/sb-admin-2.min.js")