html
  head
    title= title
    include ../main/header_generic.pug

  body(id="page-top")
    div(id="wrapper")
      include ../main/leftbar.pug
      div(id="content-wrapper" class="d-flex flex-column")
        div(id="content")
            include ../main/topbar.pug
            div(class="container-fluid")
              // Page Heading
              div(class="d-sm-flex align-items-center justify-content-between mb-1 ml-4")
                  h1(class="h3 mb-0 text-gray-800") Cryptodynasty  - Presentation
              div()
                // Divider
                hr(class="sidebar-divider d-none d-md-block")
                p(class="text-center")
                  img(src="/assets/cryptodynasty_logo.png")
                p() Cryptodynasty is a mobile RPG. Game is base on hero's team (warrior,mage,archer) and infinite tower. You launch march up to die again and again.
                p() After a march you win items which can craft equipment allowing to go even further and win better items.
                p() Around this functionality many features has been added. Mount, PVP, boss, pool reward, market, events

                ul()
                  li() Site : 
                    a(href="https://cryptodynasty.one/" target="_blanck") https://cryptodynasty.one/
                  li() Cryptocurrency : EOS, ETH
                  li() Launching date : June 2019

                p(class="mb-5") For the moment Dapp Game Invest covers only EOS parts.
  include ../main/script_js.pug
  include ../main/footer.pug